/*Start Universal style part*/ 
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
.sub-template{
	margin: 0px 5%;
}
h1 span{
	color:#40eb34; 
}
/*End Universal style part*/
/*Start header part*/
header{
	margin:20px;
	text-align: center;
	line-height: 1.5;


}
.shapes {

	display: flex;
	justify-content: center;
	
}
/*Triangle shape
*/.shapes .triangle{
	margin: 1px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent ;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #17ff1c;
}

.shapes .circule{
	margin: 1px;
	
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color:#17ff1c;  

}
.rectangle{
	margin: 1px;
	width:14px;
	height:16px;
	background-color: #17ff1c; 
}
header h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	text-transform:uppercase;

}
header nav{
	margin-top: 30px;
}
header nav a{
	margin:40px;

	text-decoration: none;
	/*padding: 5px 15px;*/
	line-height: 2;
	color: #222;
}
header nav a:hover{
	color:#3486eb;
	border-bottom: 2px solid #3486eb;
}
/*End header part*/
/*Start home page*/
#home{
	    background-image: url(../image/homePage.jpeg);
	    background-attachment: fixed;
	    background-position: center;
	    background-color: transparent;
	    color: #000;
	    opacity: 2;
	    position: relative;
/*   line-height: 2.5;
*/    width: 100%;
    height: 95vh;
}
.homePage{
	width:100%;
	height:95vh;
	/*background-color:#17ff1c;*/
	background-image: linear-gradient(to left, #16C516, #07e60c, #08ff0c, #04c907 );
	opacity: .8;	
}
.homePage_subtemplate{
	padding: 50px;
	position: absolute;
	left: 40%;
}
.homePage_subtemplate h1{
	margin-top: 20vh;
	font-size: 50px;
	line-height: 1;
	font-weight: bolder;
	overflow-y: hidden;
	margin-bottom: 20px;
}
.homePage_subtemplate p{
	color: #fff;
	font-size: 14px;
	margin-bottom: 40px;
}
#readMore{
/*	margin-top: 20px;
*/	border: 2px solid #fff;
background-color: #fff;
	margin:5px;
	padding: 8px 25px;
	border-radius: 40px;
	font-weight: 900;
	text-transform: uppercase;
}
.left_arrow{
	color: #fff;
	width: 30px;
	height: 30px;
	background-color:#40eb34; 
	border-radius: 50%
	
}
.right_arrow{
	color: #fff;
	width: 40px;
	height: 40px;
	background-color:#222; 
	border-radius: 50%;
}
/*End home page*/
/*Start the Arrow part*/
.arrowPart {
	position: relative;
}
.arrowPart .left_arrow{
	position: absolute;
	left: 47%;
	top: -37px;
}
.arrowPart .right_arrow{
	position: absolute;
	right: 47%;
	top:-39px;
}

/*End the Arrow part*/
 /*Start the About page*/  
#about{ 
	margin: 20px 0;
	width: 100%; 
	height: auto; 

} 
.about_contentPart{ 
	font-size: 15px
	/*overflow-y: hidden;*/

}
.about_contentPart{
	line-height: 3;
}

.about_contentPart p{
	line-height: 1.5;
}
.aboutPageButton{ 
	padding: 10px 40px;
 	background-color: #333;
 	color: #fff;
 	border: 2px solid #333;
 	border-radius: 2px;
 	margin-bottom: 30px: 
}
.aboutPage_content{
	padding-top:  40px ;
	display: grid;	
	
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr)); 
}
.about_contentPart_space{
	height: 20%;
}
.about_imagePart{
	margin: 0 0 0 30px;
}
.about_imagePart_shadow{
	margin: 40px;
	background-color: #a4a6a4;
	width: 290px;
	height: 340px;
	position: relative;
}
.about_page_man_image{
	position:absolute;
	top: 121px;
	
}
/*End the about page*/
 /*Start the services page*/
 #services div h1{
 	text-align: center; 
 }
 .services_pag_svgimage{
 	margin: 50px; 	
 	display: grid;	
	grid-row-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr)); 
 	font-size: 14px;
 } 
 .room-svg svg{
 	height: 40px;
 	width: 40px;
 }
 .steps-svg{
 	margin-top: 70px;

 }
 .steps-svg svg{
 	height: 40px;
 	width: 40px;
 } 

 .house-svg svg{
 	height: 40px;
 	width: 40px;
 }
  .notes-svg{
 	margin-top: 70px;
 }
 .notes-svg svg{

 	height: 40px;
 	width: 40px;
 	
 }
 .readMoreBtn{
 	padding: 10px 40px;
 	background-color: #333;
 	color: #fff;
 	border: 2px solid #333;
 	border-radius: 2px;
 	margin-left: 47%; 	
 }
 /*End the services page*/
 /*Start the Gallery Page*/
 #gallery{
 	margin-top: 50px;
 	line-height: 2;
 	background-color: #c7c7c7;
 }
 #gallery h1, 
  #gallery p
 {
 	text-align: center;
 }
  .gallery_imagePart{
  	margin-top: 20px;
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  } 
  .gallery_imagePart div img{
  	margin-bottom: 15px;
  }
  
  .gallery_imagePart div div{
  	color: #fff;
  	padding: 130px 60px;
  	text-align: center;
  	/*justify-content: center;*/
  	margin-bottom: 25px;
  	width:375px;
  	height: 375px;
  	background-color: #333;
  }  

/*End the Gallery page*/ 
/*Start the Design page*/
#design{

	width: 100%;
	height: auto;
	margin: 60px 0 40px 60px;
	display: grid;
	grid-template-columns:  repeat(auto-fit, minmax(17rem, 1fr));
	grid-gap: 20px
}
.designPage_contentPart_EmtyPart{
	height: 20%
}
.designPage_contentPart{
		margin: 0 20px 0 30px
		

}
.designPage_arrows{
	margin: 20px 0 20px 0;
}
.designPage_contentPart_content{
	text-align:  center; 
}
.designPage_contentPart_content h1{
	margin: 10px 0 15px 0;
}
.designPage_contentPart_content p{
	line-height: 1.5;
}
#design .designPage_imagePart{

}
#design .designPage_imagePart img{
	width: 605px;
	height: 350px;
}
.designPage_arrows .leftArrow{
	color: #fff;
	height: 40px;
	width: 40px;
	background-color: #333;
}
.designPage_arrows .rightArrow{
	height: 40px;
	width: 40px;
	background-color: #40eb34;
}
/*End the Design page*/
/*Start testimonial page*/
#testimonial{
	margin: 40px 0;
	display: grid;
	grid-template-columns:  repeat(auto-fit, minmax(15rem, 1fr));
	grid-gap: 20px;
}
.testimonial_leftside{
	padding:30px;
	color:#fff;
	background-color: #111;
	display: grid;
	grid-template-columns:  repeat(auto-fit, minmax(15rem, 1fr));
}
.testimonial_leftside_content{
	padding-top: 60px: 
	
	width: 280px;
	height: auto;
	position: relative;
}
.testimonial_leftside_content div{
	margin: 20px;
	border: 1px solid  #40eb34;
	padding:0px 15px 10px 15px;
}
.testimonial_leftside_content div h4{
	line-height: 1.5;	
	margin-top: 60px;
}
.testimonial_leftside_content div p{
	line-height: 1.5;
	text-align: center;
}
.testimonial_leftside_content img{
	border-radius: 50%;
	top:-2px;
	position: absolute;
}
.testimonial_leftside_content .testimonial_left_image{
	left: 30px;
}
.testimonial_rightside{
	margin: 50px 20px;
}
.testimonial_rightside h1{
	margin: 20px 0;
}
.testimonial_arrows .leftArrow{
	margin-left: 20px;
	color: #fff;
	height: 40px;
	width: 40px;
	background-color: #333;
}
.testimonial_arrows .rightArrow{
	height: 40px;
	width: 40px;
	background-color: #40eb34;
}
/*End the Testimonial page*/
/*Start the contact us page*/
#contactUs{
	overflow-y: hidden;

	padding: 40px 0 30px 0;
	width: 100%;
	height: auto;
	background-image: url('../image/contactUs_background.jpeg');
	background-image:  transparent;	
	background-size: cover;
	background-attachment: fixed;
}
/*#contactUs div {
	margin: 20px 0 20px 0;
}*/
#contactUs div h1{
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.contactUsPage{
	display: grid;
		grid-template-columns:  repeat(auto-fit, minmax(35rem, 1fr));
}
.contactUs_userData input{
	padding: 15px;
	margin:0 0 20px 0;
	display: block;
}
.contactUs_userData textarea{
	 padding: 20px;
	 display: block;
	 margin-bottom: 40px
}
.contactUs_userData button{
	margin:10px 0 20px 0;  
	font-size: 17px;
	padding: 7px 12px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
/*End the Contact us page*/
/*Start the footer page*/
footer{
	padding-top: 20px;
	background-color: #333;

}
.footer_content{
	margin:30px 0;
	color: #ddd;
	line-height: 1.5;
	display: grid;
	grid-template-columns:  repeat(auto-fit, minmax(15rem, 1fr));
}
.footer_content_division p .fa{
	color: #000;
	background-color: #fff;
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	margin: 2px;
}
.footer_content_division p .fa:hover{
	cursor: pointer;

}
.footer_content_division h3{
	margin-bottom: 10px
}
.footer_content_division ul{
	margin-bottom: 10px;
}
.footer_content_division ul li{
	list-style-type: none;
}
.footer_bootom{
	background-color: #fff;
	text-align: center;
	padding-top: 25px;
}
/*End the footer page*/
/*start media query*/ 
@media only screen and (max-width: 1260px) {
 .arrowPart .left_arrow { 
 	left: 46%; 
 	} 
 } 
 @media only screen and (max-width: 1000px) { 
 	.arrowPart .left_arrow { 
 		left: 44%; 
 		} 
 	}
@media only screen and (max-width: 820px) { 
	.arrowPart .left_arrow 
	{ left:42%; }

	#home{
		overflow-y: hidden;
	}

}
@media only screen and (max-width: 820px) {
  .arrowPart .left_arrow {
    left: 39%;
  }
}
@media only screen and (max-width: 620px){
	.about_page_man_image{
		top: 349px;
	}
}
  @media only screen and (max-width:500px){
  	.homePage_subtemplate{
  		left: 20%
  	}
  	.arrowPart .left_arrow {
    left: 34%;
  	}
  }
/*End the media query*/